@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box; /*add any padding/border to any element then it wont affect width of element*/
}

body {
    align-items: center;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh; /*take height of entire viewport*/
    justify-content: center;
    margin: 0;
    overflow: hidden;
}